/* Застосовується до всіх посилань у документі */
a {
    color: tomato;
}

/* Застосовується до посилань, які лежать усередині неупорядкованих списків */
ul a {
    color: tomato;
}

/* Застосовується лише до посилань, що лежать усередині тега з класом social-links */
.social-links a {
    color: darkcyan;
}
